.page-window{

    height: 300vh;
}
.move-buttons{
    scale: 4;
    transform: scaleX(1.6);

}
.snap-text{
    position: absolute;
    width: 100%;
   font-size: 10vw;
   text-shadow: 5px 2px rgb(0, 0, 0);
   color: rgb(31, 192, 255);
    text-align: center;
    margin-top: 30vw;
    z-index: 100;
    
}
.snapshot-container{
    overflow: hidden;
    scale: .9;
    width: 100vw;

    
}
.snapshot-0{
    overflow: hidden;
    scale: 1.5;
    width: 100vw;
   
}
.snapshot-1{
    overflow: hidden;
    scale: .6;
    width: 100vw;
    border: solid rgb(0, 0, 0);
   
}
.text-container h1{
    font-weight: 700;
    padding-top: 0rem;
    max-width: 40ch;
}
.top-header{
    padding-top: 1rem;
    font-size: 4rem;
}
.text-container h3{
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 60ch;
    min-width: 30ch;
}
.highlighted{
    background: linear-gradient(141deg, rgba(215,133,133,1) 0%, rgba(93,27,223,1) 84%, rgba(23,57,255,1) 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.text-container{
    transform: translateY(-4rem);
    padding: 0 10rem;
}
@media screen and (max-width: 800px) {
    .page-window{

        height: 200vh;
    }
    .text-container h1{
        font-weight: 700;
        padding-top: 0rem;
        max-width: 40ch;
    }
    .text-container{
        padding: 2rem;
    }
    
}
.devlog-link, .repository-link, .Itch-link{
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 1rem;
    

    
}
.hyper-link{
    background: linear-gradient(141deg, rgb(255, 0, 0) 0%, rgb(85, 0, 255) 84%, rgb(0, 38, 252) 99%);
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 1.2rem;
transition-duration: 200ms;

    
}
.hyper-link:hover{
    font-size: 1.4rem;
}
.main-image{
    scale: 1.2;
    
    object-fit:cover;
    width:100%;
}
.repository-link{
    padding-top: 7rem;
}
.carousel-image-containers{
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.Im-comtainer{
    
    width: 100%;
    transform-origin: 50% 50%;
   
    object-fit:cover;
}