* {
  
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .return-page-button{
    position: absolute;
    z-index: 100;
    right:  0;
    width: 4rem;
    height: 4rem;
    transition-duration: 200ms;
    margin: 2rem;
  }
  .return-page-button:hover{
    scale: 1.03;
  }